<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="header.component.css">

<div id="main" ng-app>
  <nav>
    <b href="#" class="CNPUJ_T">Cuanto necesito PUJ</b>
    <dd href="#" class="byACM">by ACM Javeriana </dd>
    <a href="#" class="feactures">feactures</a>
    <a href="#" class="pricing">pricing</a>
    <a href="#" class="community">community</a>
    <a href="#" class="support">support</a>
 </nav>
</div>