<section class="about-us">
    <h2>Sobre nosotros</h2>
    <section class="cards-container">
        
        <article class="card">
            <img class="card__image" src="https://avatars.githubusercontent.com/u/53021906?v=4" alt="">
            <div class="card__description">
                <h6>Juan Francisco Hamon</h6>
                <p>Ingeniero de sistemas de la Pontificia Universidad Javeriana con énfasis en construccién de software y
                    sistemas inteligentes.</p>
            </div>
        </article>
        <article class="card">
            <img class="card__image" src="https://avatars.githubusercontent.com/u/53021906?v=4" alt="">
            <div class="card__description">
                <h6>Juan Francisco Hamon</h6>
                <p>Ingeniero de sistemas de la Pontificia Universidad Javeriana con énfasis en construccién de software y
                    sistemas inteligentes.</p>
            </div>
        </article>
        <article class="card">
            <img class="card__image" src="https://avatars.githubusercontent.com/u/53021906?v=4" alt="">
            <div class="card__description">
                <h6>Juan Francisco Hamon</h6>
                <p>Ingeniero de sistemas de la Pontificia Universidad Javeriana con énfasis en construccién de software y
                    sistemas inteligentes.</p>
            </div>
        </article>
        <article class="card">
            <img class="card__image" src="https://avatars.githubusercontent.com/u/53021906?v=4" alt="">
            <div class="card__description">
                <h6>Juan Francisco Hamon</h6>
                <p>Ingeniero de sistemas de la Pontificia Universidad Javeriana con énfasis en construccién de software y
                    sistemas inteligentes.</p>
            </div>
        </article>
        <article class="card">
            <img class="card__image" src="https://avatars.githubusercontent.com/u/53021906?v=4" alt="">
            <div class="card__description">
                <h6>Juan Francisco Hamon</h6>
                <p>Ingeniero de sistemas de la Pontificia Universidad Javeriana con énfasis en construccién de software y
                    sistemas inteligentes.</p>
            </div>
        </article>
    </section>
</section>
