<!DOCTYPE html>
<html>
<body>
  <div class="redes">
    <center>
      <ul display= inline-block>
          <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://www.instagram.com/capitulojaveriano/"><img src="logos/instagram.png" width="40" height="40"></a></li>
          <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://twitter.com/ACMJaveriana"><img src="logos/twitter.png" width="40" height="40"></a></li>
          <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://www.facebook.com/acmjaveriana"><img src="logos/facebook.png" width="40" height="40"></a></li>
          <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://www.youtube.com/channel/UCcvoM6HqiC9DcfiAlnXNUug"><img src="logos/youtube.jpg" width="40" height="40"></a></li>
      </ul>
    </center>
        <h3 align="center">Made with love by ACM Javeriana 2021</h3>
  </div>
