<div class="redes">
    <ul display= inline-block>
        <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://www.instagram.com/capitulojaveriano/"><img src="assets/logos/instagram.png" width="40" height="40"></a></li>
        <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://twitter.com/ACMJaveriana"><img src="assets/logos/twitter.png" width="40" height="40"></a></li>
        <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://www.facebook.com/acmjaveriana"><img src="assets/logos/facebook.png" width="40" height="40"></a></li>
        <li style="display:inline;"><a style="padding: 10px;" class="redsocial" href="https://www.youtube.com/channel/UCcvoM6HqiC9DcfiAlnXNUug"><img src="assets/logos/youtube.jpg" width="40" height="40"></a></li>
    </ul>
    <p>Made with love by &copy; ACM Javeriana 2021</p>
</div>