<h1 class="titulo"> Cuanto Necesito PUJ </h1>
<p class="Descripcion">Es un sistema que, además de dedecirte cuanto
  necesitas para pasar una materia, también te dice
    cuanto necesitas en el semestre para evitar la prueba
    académica.</p>
  <section>
    <article class="CN_Materia" routerLink="/CN/grades">
      <div>
        <img class="Opcion_Materia" src="assets/logos/ACM_LOGO.png">
      </div>
      <h2>¿Cuánto necesito para pasar la materia?</h2>
    </article>
    <article class="CN_Prueba" routerLink="/CN/academic">
      <div>
        <img class="Opcion_Prueba" src="assets/logos/ACM_LOGO.png">
      </div>
      <h2>¿Cuánto necesito para evitar la prueba académica?</h2>
    </article>
  </section>
  <div>
    <img class="Logo_ACM" src="assets/logos/ACM_LOGO.png">
  </div>
  <hr>

