@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400");

*{
    font-family: 'Montserrat';
}

form 
{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

mat-card{
    margin-left: 20%;
    margin-right: 20%;
}

mat-form-field
{
    min-width: 300px;
    text-decoration: none;
    margin-bottom: 20px;
}

button
{
    align-self: center;
}

@media only screen and (max-width: 500px) {
    form {
        width: 100%;
    }
}