DOCTYPE html>                                 <!--Pagina Cuanto Necesito Materia-->
    <html lang="en" dir="ltr">
      <head>
        <link rel="stylesheet" href="main-body.component.css">
        <title> Cuanto Necesito PUJ </title>
      </head>
      <body>
        <h1 class="titulo"> Cuanto Necesito PUJ </h1>
        <p class="Descripcion">Es un sistema que, además de dedecirte cuanto
           necesitas para pasar una materia, también te dice
            cuanto necesitas en el semestre para evitar la prueba
             académica.</p>
             <section>
               <article class="CN_Materia">
                 <img class="Opcion_Materia" src="https://cdn.generadormemes.com/media/created/5h31weeowwrx5kogm9e1dtqdyhsaidxj4j43w3maj7xfshncqi76fpuypoit526.jpg">
               </article>  
             </section>
             <img class="Logo_ACM" src="6108728.png">
             <img class="Separacion" src="Rectangle.png">
        <p>Arriba esta la Separacion del body del footer </p>
    
      </body>
    </html>
    